.inputMatriz{
    max-width:50px
}
.fundo{
    background: url("../storage/img/navbar.jpg");
}
footer{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
}
BODY{
    width: auto;
    font-family: Roboto;
}
.color-darck tr td {
    color: #343a40;
    background-color: #343a40;

}
